

/*~~~~~ F O N T S ~~~~~*/
@font-face {
    src: url(fonts/FiraSans-Thin.ttf);
    font-family: firathin;
}
@font-face {
    src: url(fonts/FiraSans-ExtraLight.ttf);
    font-family: firaextralight;
}
@font-face {
    src: url(fonts/FiraSans-Light.ttf);
    font-family: firalight;
}
@font-face {
    src: url(fonts/FiraSans-Regular.ttf);
    font-family: firaregular;
}
@font-face {
    src: url(fonts/FiraSans-Medium.ttf);
    font-family: firamedium;
}
@font-face {
    src: url(fonts/FiraSans-SemiBold.ttf);
    font-family: firasemibold;
}
@font-face {
    src: url(fonts/FiraSans-Bold.ttf);
    font-family: firabold;
}

* {
    margin: 0;
    padding: 0;
    font: 1em sans-serif;
  }
h1 {
    font-size: 7rem;
    color: rgb(160, 160, 160);
    font-family: firathin;
}
h2 {
    font-size: 4rem;
    color: rgb(160, 160, 160);
    position: absolute;
}
h3 {
    font-size: 2.2rem;
    color: rgb(160, 160, 160);
    font-family: firaextralight;
}
h5 {
    font-size: 1.5rem;
    color: rgb(160, 160, 160);
    font-family: firalight;
}
h6 {
    font-size: 1.5rem;
    color: rgb(160, 160, 160);
    font-family: firaextralight;
}
span{
    font-size: 1rem;
}
li {
    list-style: none;
}
html {
    height: 100vh;
    margin: 0;
}
body { 
    background-color: rgb(0, 0, 0);
    height: 100%;
    font-family: antic;
}
.body-wrapper {
 width: 98%;
 height: 98%;
 background-color: rgb(55, 55, 75);
 margin: 0.3rem auto;
}
main {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(55, 55, 75);
}
main h5 {
    padding: 0.2em;
}
#init-wrapper {
    visibility: hidden;
    display: flex;
    justify-content: center;
}
#output-wrapper {
    height: 26em;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#location {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#location h3 {
    font-family: firathin;
}
#location h6 {
    font-family: firaregular;
}
.degrees {
    margin-top: -2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#temp {
    position: relative;
    height: 9em;
    width: 11em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.534);
}
#temp span {
    font-size: 3em;
    margin-bottom: -0.8em;
    font-family: firathin;
}
#temp p {
    font-size: 2.8em;
    font-family: firalight;
    margin-left: -0.1em;
}
#circle {
    position: absolute;
    background-color: rgba(67, 61, 61, 0.729);
    height: 3.25em;
    width: 3.25em;
    border-radius: 100%;
    margin-left: 6em;
    margin-top: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.534);
}
#circle h6 {
    font-size: 1.8em;
    font-family: firaextralight;
}
#circle span {
    font-size: 1em;
    font-family: firathin;
    margin-top: 1.75em;
    margin-bottom: -0.5em;
}
#circle p {
    font-size: 0.75em;
    font-family: firalight;
    margin-left: -0.1em;
}

#details {
    margin: 0.4em;
    background-color: rgba(169, 169, 169, 0.598);
    min-height: 11em;
    width: 330px;
    border-radius: 1em;
    padding: 0 0.8em 0.5em 0.8em;
}
#details h1, h2, h3, h4, h5, h6, span {
    color: rgba(255, 255, 255, 0.534);

}
#nav {
    display: flex;
    justify-content: space-evenly;
}
.link {
    margin: 0.3em 0;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link.active {
    background-color: rgba(210, 128, 210, 0.432);
    border-radius: 100%;
}
.link i {
    font-size: 2em;
    padding: 0.3em;
    color: rgb(95, 95, 130);
}
#temp-wrap {
    display: block;
}
#temp-wrap div {
    display: flex;
    align-items: center;
}
#temp-wrap h6 {
    margin-right: 0.75em;
    font-family: firaregular;
    font-size: 1.8em;
}
#temp-wrap h5 {
    font-family: firalight;
    font-size: 1.5em;
}
#temp-wrap h4 {
    font-size: 2em;
    margin: 0 0.2em;
    font-family: firathin;
}
#temp-wrap span {
    font-size: 1.5em;
    font-family: firaextralight;
}
#wind-wrap {
    display: none;
}
#wind-wrap div {
    display: flex;
    align-items: center;
}
#wind-wrap h6 {
    font-family: firaregular;
    font-size: 1.8em;
}
#wind-wrap h5 {
    font-family: firalight;
    font-size: 1.8em;
}
#wind-wrap h4 {
    font-size: 2em;
    font-family: firalight;
    margin-left: 1.8em;
}
#wind-wrap span {
    font-size: 1em;
    font-family: firalight;
}
.stack {
    display: flex;
    flex-direction: column;
    margin: 0 0.7em;
}
#sun-wrap {
    display: none;
}
#sun-wrap div {
    display: flex;
    align-items: center;
}
#searched {
    height: 40px;
    background-color: ivory;
    display: flex;
}
#searched-span {
    background-color: cornsilk
}
#results {
    background-color: yellow;
}
#spinner {
    visibility: hidden;
    position: absolute;
    width: 3em;
    height: 3em;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    margin: auto;
    animation: spin 1s infinite linear;
}
#spinner.visible {
    visibility: visible;
}

#form-wrapper {
    background-color: rgba(95, 95, 130, 0.466);
    width: 350px;
    display: flex;
    align-items: center;
    padding: 0.1em;
}
form {
    display: flex;
    flex-direction: column;
}
.input-wrap {
    padding: 0.5em 0 0.5em 0.4em;
}
input {
    padding: 0 0.2em;
    border-style: none;
    height: 2em;
    width: 15em;
    font-family: firaextralight;
}
input:invalid:focus {
    border-color: rgb(255, 147, 147);
    background-color: #FDD;
}
input:focus:invalid {
    outline: none;
  }
.error {
position: absolute;
margin-top: -20px;
margin-left: -5px;
width  : auto;
font-size: 80%;
color: white;
background-color: #900;
border-radius: 10px 10px 10px 0px;
box-sizing: border-box;
}
.error.active {
padding: 0.5em;
}
#country-auto {
    padding-right: 0;
    visibility: hidden;
    position: absolute;
    margin-left: 70px;
    background-color: lightblue;
    min-width: 170px;
    max-height: 200px;
    overflow-y: scroll;
}
#country-auto::-webkit-scrollbar {
    display: none;
}
.li-item {
    min-width: 170px;
    overflow: hidden;
}
.li-item:hover {
    background-color: salmon;
    text-overflow: ellipsis;
}
#code::-webkit-outer-spin-button,
#code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#submit {
    margin-left: 1.5em;
    height: 2em;
    width: 2em;
    align-self: center;
    background-color: transparent;
    border-style: none;
    display: flex;
    align-items: center;
}
#submit i {
    font-size: 4em;
    color: rgba(111, 111, 111, 0.407);
}
#results-error {
    color: rgb(230, 74, 74);
}
#city {
    text-transform: capitalize;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}