

/*~~~~~ F O N T S ~~~~~*/
@font-face {
    src: url(fonts/FiraSans-Thin.ttf);
    font-family: firathin;
}
@font-face {
    src: url(fonts/FiraSans-ExtraLight.ttf);
    font-family: firaextralight;
}
@font-face {
    src: url(fonts/FiraSans-Light.ttf);
    font-family: firalight;
}
@font-face {
    src: url(fonts/FiraSans-Regular.ttf);
    font-family: firaregular;
}
@font-face {
    src: url(fonts/FiraSans-Medium.ttf);
    font-family: firamedium;
}
@font-face {
    src: url(fonts/FiraSans-SemiBold.ttf);
    font-family: firasemibold;
}
@font-face {
    src: url(fonts/FiraSans-Bold.ttf);
    font-family: firabold;
}

* {
    margin: 0;
    padding: 0;
    font: 1em sans-serif;
  }
h1 {
    font-size: 7rem;
    font-family: firathin;
    color: white;
}
h2 {
    font-size: 4rem;
    position: absolute;
    font-family: firathin;
}
h3 {
    font-size: 2rem;
    font-family: firathin;
}
h5 {
    font-size: 1.2rem;
    font-family: firalight;
}
h6 {
    font-size: 1.3rem;
    color: rgb(160, 160, 160);
    font-family: firaextralight;
}
p {
    font-family: firaregular;
    font-size: 0.8em;
}
span{
    font-size: 1rem;
}
li {
    list-style: none;
    font-family: firaregular;
    font-size: 0.9em;
}
html {
    height: 100vh;
    margin: 0;
}
body { 
    height: 100%;
    font-family: antic;
    background-color: rgb(59, 57, 65);
}
.body-wrapper {
 width: 98%;
 height: 100%;
 background-color: rgb(59, 57, 65);
 margin: 0.1rem auto;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.mainsub {
    margin: 0.2em auto 0.5em auto;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(93, 150, 220);
    max-width: 400px;
    border-radius: 5px;
}
main h5 {
    padding: 0.5em;
}
#init-wrapper {
    visibility: visible;
    display: flex;
    justify-content: center;
}
#init-wrapper i {
    position: absolute;
    margin-top: 0.6em;
    font-size: 14em;
    color: rgba(255, 255, 255, 0.215);
    
}
#error-wrapper {
    visibility: hidden;
    display: flex;
    justify-content: center;
}
#error-wrapper i {
    position: absolute;
    margin-top: 0.6em;
    font-size: 14em;
    color: rgba(255, 255, 255, 0.215);
    
}
#output-wrapper {

    visibility: hidden;
    height: 26em;
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-wrapper {
    margin: 0 auto;
    visibility: visible;
    background-color: #65667b;
    width: 300px;
    display: flex;
    align-items: center;
    margin-top: 0em;
    padding: 0.3em;
    border-radius: 5px;
}
form {
    display: flex;
    flex-direction: column;

}
#location {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#location h6 {
    font-family: firaregular;
}
.degrees {
    margin-top: -2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#temp {
    position: relative;
    height: 9em;
    width: 11em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.534);
}
#temp span {
    font-size: 3em;
    margin-bottom: -0.8em;
    font-family: firathin;
}
#temp p {
    font-size: 2.8em;
    font-family: firalight;
    margin-left: -0.1em;
}
#circle {
    position: absolute;
    background-color: rgba(67, 61, 61, 0.729);
    height: 3.25em;
    width: 3.25em;
    border-radius: 100%;
    margin-left: 12em;
    margin-top: 7.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.534);
}
#circle h6 {
    font-size: 1.3em;
    font-family: firaextralight;
}
#circle span {
    font-size: 1em;
    font-family: firathin;
    margin-top: 1.75em;
    margin-bottom: -0.5em;
}
#circle p {
    font-size: 0.75em;
    font-family: firalight;
    margin-left: -0.1em;
}

#details {
    margin: 0.4em;
    background-color: rgba(212, 208, 208, 0.461);
    min-height: 10em;
    width: 275px;
    border-radius: 5px;
    padding: 0 0.8em 0.5em 0.8em;
}
#details h1, h2, h3, h4, h5, h6, span {
    color: rgba(255, 255, 255, 0.534);

}
#nav {
    display: flex;
    justify-content: space-evenly;
}
.link {
    margin: 0.3em 0;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link.active {
    background-color: rgba(210, 128, 210, 0.432);
    border-radius: 100%;
}
.link i {
    font-size: 2em;
    padding: 0.3em;
    color: rgb(95, 95, 130);
}
#temp-wrap {
    display: block;
}
#temp-wrap div {
    display: flex;
    align-items: center;
}
#temp-wrap h6 {
    margin-right: 0.5em;
    font-family: firaregular;
    font-size: 1.8em;
}
#temp-wrap h4 {
    font-size: 1.5em;
    margin: 0 0.2em;
    font-family: firathin;
}
#temp-wrap span {
    font-size: 1.5em;
    font-family: firaextralight;
}
#wind-wrap {
    display: none;
}
#wind-wrap div {
    display: flex;
    align-items: center;
}

#wind-wrap h6 {
    font-family: firaregular;
    font-size: 1.8em;
    margin: 0em 1em 0em 0;
}
#wind-wrap h4 {
    font-size: 2em;
    font-family: firalight;
    margin-left: 0.5em;
}
#wind-wrap span {
    font-size: 0.8em;
    font-family: firalight;
    padding: 0;
    margin: 0;
}
.stack {
    display: flex;
    flex-direction: column;
    padding: 0 0.5em 0;
}
#sun-wrap {
    display: none;
}
#sun-wrap div {
    display: flex;
    align-items: center;
}
#sun-wrap h6 {
    font-family: firaregular;
    font-size: 1.8em;

}
#sun-wrap h3 {
    margin: 0 0 0 1em;
}
#sun-wrap h4 {
    font-size: 2em;
    font-family: firalight;
}
#sun-wrap span {
    font-size: 0.8em;
    font-family: firalight;
    padding: 0;
    margin: 0;
}
.sun-stack {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 4.5em;
}

.side {
    display: flex;
}
#searched {
    height: 40px;
    background-color: ivory;
    display: flex;
}
#searched-span {
    background-color: cornsilk
}
#results {
    background-color: yellow;
}
#spinner {
    visibility: hidden;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    border: 5px dotted #f3f3f3;
    border-top: 3px solid rgb(210, 128, 210);
    border-radius: 100%;
    margin: auto;
    animation: spin 0.9s infinite linear;
}
#spinner.visible {
    visibility: visible;
}
#loch5 {
    font-size: 1em;
    margin-left: 0.3em;
    padding-bottom: 0.3em;
    font-family: firathin;


}
.input-wrap {
    padding: 0em 0 0.5em 0.4em;
}
input {
    padding: 0 0.2em;
    border-style: none;
    border-radius: 5px;
    height: 2em;
    min-width: 14em;
    font-family: firaextralight;
}
input:invalid:focus {
    border-color: rgb(255, 147, 147);
    background-color: #FDD;
}
input:focus:invalid {
    outline: none;
  }
.error {
visibility: hidden;
position: absolute;
margin-top: -2.2em;
margin-left: -5em;
min-width: 6em;
padding: 0.5em;
font-size: 80%;
color: white;
background-color: rgb(230, 74, 74);
border-radius: 10px 10px 10px 0px;
box-sizing: border-box;
text-align: center;
z-index: 0;
}
.error.active {
visibility: visible;
padding: 0.5em;
}

#country-auto {
    padding: 0 0.5em;
    visibility: hidden;
    position: absolute;
    margin-left: 5em;
    margin-top: 0.7em;
    background-color: transparent;
    max-width: 15em;
    max-height: 6em;
    height: 10em;
    overflow-y: scroll;
    border-radius: 5px;
    z-index: 1;
}
#country-auto::-webkit-scrollbar {
    display: none;
}
#li-top {
    font-family: firasemibold;
    position: sticky;
    top: 0;
    color: rgb(0, 0, 0);
    background-color: rgb(142, 142, 142);
}
.li-item {
    min-width: 170px;
    min-height: 1.3em;
    padding: 0.3em 0.5em;
    overflow: hidden;
    color: rgb(84, 84, 84);
    background-color: white;
}
.li-item:hover {
    background-color:rgb(210, 128, 210);
    text-overflow: ellipsis;
}
#code::-webkit-outer-spin-button,
#code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#submit {
    margin-top: 1.2em;
    margin-left: 0.3em;
    height: 1.8em;
    width: 1.8em;
    align-self: center;
    background-color: transparent;
    border-style: none;
    display: flex;
    align-items: center;
}
#mag {
    visibility: hidden;
    font-size: 3em;
    color: rgba(255, 255, 255, 0.407);
}
#mag.visible {
    visibility: visible;
}
#results-error {
    color: rgb(230, 74, 74);
}
#city {
    text-transform: capitalize;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
@media (min-width: 375px) {
    .body-wrapper {
        margin-top: 2em;
    }
    #output-wrapper {
        height: 30em;
        width: 350px;
    }
    #details {
        height: 12em;
        width: 300px;

    }
    #form-wrapper {
        width: 340px;
        height: 7em;
    }
    #submit {
        margin-left: 1.5em;
        height: 3em;
        width: 3em;
    }
    #mag {
        font-size: 4em;
    }
    #spinner {
        width: 3em;
        height: 3em;
    }
    .li-item {
        min-width: 90px;
    }
}
@media (min-width:641px) {
    .body-wrapper {
        margin-top: 6em;
    }

    .mainsub {
        background-color: rgb(93, 150, 220);
    }
}